nz-breadcrumb {
  margin: 16px 0;
}
nz-content {
  padding: 0 50px;
}
nz-footer {
  text-align: center;
}
.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  // margin: 16px 24px 16px 0;
  margin: 16px 5px 16px 0;
  // float: left;
}
.login-form {
  max-width: 300px;
}
.login-form-margin {
  margin-bottom: 16px;
}
.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.text-right{
  text-align: right;
}
